@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto:wght@400&display=swap');

$mainDivBackground : lightgrey;
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: transparent;

}

.navbar {
    height: 10vh;
}

.navbar-brand {
    position: absolute;
    left: 50px;
    bottom: -13px;
}

.navbar-nav {
    flex-direction: row !important;
    padding: 0 30px;
    padding-left: 0 !important;
    position: absolute;
    left: 200px;
}

.nav-item {
    margin: 0 30px;
}

#mainDiv {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100vw;
    height: 90vh;
    background-image: url(https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?w=2000);
    background-position: 50% 50%;
}

#mainDivInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: inherit;
    padding: 0 10%;
    margin-top: -4%;
}

.circle {
    border-radius: 50%;
    width: 75px;
    height: 75px;
    background-color: orangered;
}

h1 {
    font-size: 77px;
    margin: 7% 0;
    font-family: 'Abril Fatface', cursive;
}

h2 {
    font-size: 25px;
    margin-bottom: 7%;
    font-family: 'Roboto', sans-serif;
}

#mainDivImageDiv {
    width: 50%;
    height: inherit;
    background-image: url("https://cdn.picpng.com/thinking_man/thinking-man-transparent-33568.png");
    background-position: right;
    background-size: cover;
}


#skillsDiv {
    display: none;
    width: 100%;
}

#profileDiv {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 70px 5%;
}

#myMainInfoDiv {
    width: 100%;
    display: flex;
    flex-direction: row;
}

#aboutMeDiv,
#roundPhotoDiv,
#detailsDiv {
    flex-basis: 100%;
    padding: 0 50px;
}

#roundPhotoImageDiv {
    width: 20vw;
    height: 20vw;
    overflow: hidden;
    border-radius: 50%;
    object-fit: contain;
    border: 6px solid orangered;
}

#roundPhotoDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
}

.header {
    font-family: 'Abril Fatface', cursive;
    text-align: center;
    font-weight: bold;
    margin-bottom: 5vh;
    font-size: 3rem;
}

.boldHeader {
    font-weight: bold;
    margin-bottom: 30px;
    font-size: 30px;
}

.smallerBoldHeader {
    font-weight: bold;
    margin-bottom: 0.3rem !important;
}

.defaultText {
    font-family: 'Roboto', sans-serif;
    line-height: 30px;
}

#myJobDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    padding: 70px 5%;
    background-color: $mainDivBackground;
}

#myFunctionsDiv {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 25px;
}

.myFunctionDiv {
    display: flex;
    padding: 50px 20px;
    width: 33.33%;
    flex-direction: row;
}

.iconCircleDiv {
    margin-right: 20px;
}

.iconWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: orangered;
    border-radius: 50%;
}